<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Contact Page</title>
</head>

<body>
<nav th:insert="fragments/navbar.html :: nav"></nav>


    <!-- SET THE HEADER -->
    <h1 th:if="${showAll}" class="mx-auto" style="width: 25%; height: 80px; text-align: center;">Display all contacts</h1>
    <h1 th:if="${showSearchResult}" class="mx-auto" style="width: 30%; height: 80px; text-align: center;">Display search results</h1>


    <!-- DISPLAY CONTACTS -->
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Index</th>
                <th>Contact Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contactStat.index}"></td>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.contactNumber}"></td>
                <td><a class="btn btn-warning" th:href="'/contact/edit?contactNumber=' + ${contact.contactNumber}" name="edit" role="button">Edit</a></td>
                <td><a class="btn btn-danger" th:href="'/contact/all?delete=y&id=' + ${contact.contactNumber}" role="button">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- ALERTS FOR DELETE -->
    <div th:if="${showAlert}" class="alert alert-danger text-center" role="alert">
        <p>Are you sure you want to delete this?</p>
        <form action="/contact/delete" method="post">
            <button class="btn btn-primary" type="submit" name="id"  th:value="${contactIdentification}">Yes</button>
            <a class="btn btn-secondary" href="/contact/all" role="button">No</a>
        </form>
    </div>

    <div th:if="${contactDeleted}" class="alert alert-success text-center" role="alert">
        <p th:text="'Successfully removed contact ' + '\'' + ${deletedName} + '\'' + ' to the list of contacts.'"></p>
        <a class="btn btn-primary" href="/contact/all" role="button">Back to all contacts</a>
    </div>

<div class="card-footer text-muted" style="text-align: center">
    <p>Copyright&copy; Karl Löfquist, Timothy Biörck and Carl-Michael Lundgren</p>
</div>

</body>
</html>