<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Edit Contact</title>
</head>

<body>
<nav th:insert="fragments/navbar.html :: nav"></nav>
<div class="row">
    <header class="text-center col">
        <h1>Edit Contact</h1>
    </header>
</div>

<div class="row">
    <div class="col-sm-8 offset-sm-2">


        <!-- EDIT CONTACT FORM -->
        <form id="new-contact-form" action="#" th:action="'/contact/edit?originalNumber=' + ${contact.contactNumber}" th:object="${contact}" method="post">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="inputContactNumber">Contact number</label>
                <input type="text" class="form-control" id="inputContactNumber" th:field="*{contactNumber}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Contact</button>
        </form>


        <!-- DISPLAY SUCCESS MESSAGE IF USER WAS UPDATED -->
        </br>

        <div th:if="${contactWasUpdated}" class="alert alert-success text-center" role="alert">
            <p th:text="'Successfully updated the contact ' + '\'' + ${name} + '\'' + '.'"></p>
            <a class="btn btn-primary" href="/" role="button">Back to start</a>
            <a class="btn btn-primary" href="/contact/all" role="button">List all contacts</a>
        </div>


    </div>
</div>

<div class="card-footer text-muted" style="text-align: center">
    <p>Copyright&copy; Karl Löfquist, Timothy Biörck and Carl-Michael Lundgren</p>
</div>

</body>
</html>