<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Add New Contact</title>
</head>

<body>
<div class="row">
    <header class="text-center col">
        <h1>Add Contact</h1>
    </header>
</div>

<div class="row">
    <div class="col-sm-8 offset-sm-2">

        <!-- CREATE NEW CONTACT FORM -->
        <form id="new-contact-form" action="#" th:action="@{/contact/add}" th:object="${contact}" method="post">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Enter contact name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter the contact's email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="inputContactNumber">Contact number</label>
                <input type="text" class="form-control" id="inputContactNumber" placeholder="Enter the contact's number" th:field="*{contactNumber}" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Contact</button>
        </form>


        <!-- DISPLAY SUCCESS MESSAGE IF USER WAS CREATED -->
        </br>

        <div th:if="${newContactCreated}" class="alert alert-success text-center" role="alert">
            <p th:text="'Successfully added the new contact ' + '\'' + ${name} + '\'' + ' to the list of contacts.'"></p>
            <a class="btn btn-primary" href="/" role="button">Back to start</a>
            <a class="btn btn-primary" href="/contact/all" role="button">List all contacts</a>
        </div>

        <!-- DISPLAY CONTACT ALREADY EXIST MESSAGE -->
        <div th:if="${newContactAlreadyExist}" class="alert alert-danger text-center" role="alert">
            <p th:text="'Could not add new contact ' + '\'' + ${name} + '\'' + ' since his/her phone number already exists. Make sure to enter a unique phone number.'"></p>
            <a class="btn btn-primary" href="/" role="button">Back to start</a>
            <a class="btn btn-primary" href="/contact/all" role="button">List all contacts</a>
        </div>


    </div>
</div>

<div class="card-footer text-muted" style="text-align: center">
    <p>Copyright&copy; Karl Löfquist, Timothy Biörck and Carl-Michael Lundgren</p>
</div>

</body>
</html>